* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#box {
  background-color: orange;
  width: fit-content;
  padding: 20px;
  user-select: none;
  font-size: 18px;
  font-weight: bold;

  position: absolute;
  top: 100px;
  left: 100px;
}
