* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.pallete {
  border: 1px solid black;
  border-radius: 6px;
  width: 30px;
  height: 30px;
}
